@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

body {
    margin: 0;
    padding: 0;
    font-family: "jost";
    height: 100%;
    background-color: #01aa8529;
}

.background-image {
    background-image: url("/assets/background.png");
    background-position: center;
    background-size: 100%;
    height: 100vh;
}

.custom-scrollbar {
    overflow: scroll;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 0;
}
